@font-face {
  font-family: "arcade-regular";
  src: url("localhost:8080/rsc/fonts/arcade/ARCADE.ttf") format("truetype");
}
@font-face {
  font-family: "papercut-regular";
  src: url("localhost:8080/rsc/fonts/paper-cut/papercut.ttf") format("truetype");
}
