@font-face {
  font-family: "arcade-regular";
  src: url("/fonts/arcade/ARCADE.TTF") format("truetype");
}
@font-face {
  font-family: "papercut-regular";
  src: url("/fonts/paper-cut/papercut.ttf") format("truetype");
}
